spring.application.name=Server
server.servlet.context-path=/back
server.port=7124

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.main.allow-bean-definition-overriding=true

mybatis.configuration.cacheEnabled=false
mybatis.configuration.useGeneratedKeys=true
mybatis.configuration.logImpl=org.apache.ibatis.logging.stdout.StdOutImpl
mybatis.type-aliases-package=com.jjangtrio.veteran.ServerApplication.dto
mybatis.mapper-locations=classpath:/mappers/*.xml
mybatis.configuration.map-underscore-to-camel-case=true

spring.data.redis.host=localhost
spring.data.redis.port=6379

google.api.name=
google.client.id=
google.client.pw=
google.api.key=

jwt.secret=c2t3bHFya3JodGx2ZWt0bHFrZndsc1drZmh3bHF3a3Jocmx2ZGpkeQ==
jwt.userTokenExpiration=630000

naver.client.id=
naver.client.secret=
naver.callback.url=http://localhost:5000/login/naver/callback

aes_secret_key=
aes_iv=

# chatbot key
OPENAI_API_KEY=

upload.dir=

image.log.path=

spring.web.resources.static-locations=
spring.mvc.static-path-pattern=/back/uploads/**

#fileupload
spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.file-size-threshold=5KB
spring.servlet.multipart.max-request-size=100MB

COMPREFACE-API-KEY=